body { 
	padding: 0; 
	margin: 0; 
	font: .74em Arial, sans-serif; 
	line-height: 1.5em; 
	background: #fff url(images/top.jpg) repeat-x top; 
	color: #454545; 
	}
	
a { color: #DA3B3B; background: inherit; }
a:hover { color: #DA3B3B; background: inherit; text-decoration: underline}
p {	margin: 5px 0; }
h1 {font: bold 1.8em Arial, Sans-Serif; padding: 8px 0 4px 0; margin: 0; letter-spacing: -1px; }
h2 { font: bold 1.6em Arial, Sans-Serif; letter-spacing: -1px; }
h3 { padding: 4px 0; margin:  0; }
/*ul { margin: 0; padding : 0; list-style: none; }*/
img { border: 0; }
hr { height: 1px; border-style: none; color: #d0d0d0; background-color: #C0C0C0; margin: 10px 0; }


#bmark_list .edit { display:inline; border: 1px solid red; magin: 0px 30% }
#bmark_edit {}

/* The footer */
footer { clear: both; border-top: 1px solid #DCDCDC; margin: 0 0 3em 0; color: #777;  background: #fff }
footer .right  { float: right; text-align: right; background: #FFF; }
footer a { text-decoration: none; background: #FFF }
	
/* nav */
.wrapper {
    width: 100%;
    height: 80px;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin-bottom: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

ul.menu {
    height: 80px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
}

ul.menu li {
    list-style: none;
    float:left;
    height: 79px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
    }

ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 79px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    }

ul li a:hover {
    background: transparent none;
}
/*
ul[rel=sam1] li a {
    background: #606060;
}

ul[rel=sam1] li a:hover {
    background: transparent none;
}
*/
ul.menu li a {
    background: #606060;
}

ul.menu li a:hover {
    background: transparent none;
}
ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}
