{% extends_v2 TEMPLATES_BASE "base.html" %}
{% block title %} {{entry.title}} - {{blog.title}} {% endblock %}
{% block content%}

<div id="main">

<div id="contentwrapper">
{% if entry %}

<div class="topPost">
	<h2 class="topTitle"><a href="/{{ entry.link }}">{{entry.title}}</a></h2>
	<p class="topMeta">由 {{entry.author}} 在 {{entry.date|datetz:"F jS, Y"}}, 分类 {%for cate in entry.categories%} <a href="/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%}</p>
	<div class="topContent">
	{%mf entry_content %}
	{{ entry.content }}
	{%endmf%}
	</div>
	<div class="cleared"></div>
	<div class="cleared"></div>
	{% if entry.strtags %}<span class="topTags">{%for tag in entry.tags%}<a href="/tag/{{tag|urlencode}}">{{tag}}</a>{%endfor%}</span>{%endif%}
	<div class="cleared"></div>
</div> <!-- Closes topPost -->
<br/><small>{%if self.is_admin%}<a href="{{entry.edit_url}}">编辑</a>{%endif%}</small>

<div id="comments">
{% include_v2 TEMPLATES_BASE "comments.html" %}
</div> <!-- Closes Comment -->

{%endif%}
</div><!-- Closes contentwrapper-->
{% include_v2 TEMPLATES_BASE "sidebar.html" %}
<div class="cleared"></div>
</div><!-- Closes Main -->
{% endblock %}