<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <script type="text/javascript">
                var NREUMQ=[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);
            </script>
    <title>Simpla Admin</title>
    
    
    <link rel="stylesheet" type="text/css" href="./Simpla Admin - Flexible & User Friendly Admin skin Preview - ThemeForest_files/fullscreen_preview.css">
    <link href="http://3.envato-static.com/favicons/themeforest.ico?1311219794" rel="shortcut icon">
    <script type="text/javascript" src="./Simpla Admin - Flexible & User Friendly Admin skin Preview - ThemeForest_files/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
    
      //function to fix height of iframe!
      var calcHeight = function() {
        var headerDimensions = $('#header-bar').height();
        $('#preview-frame').height($(window).height() - headerDimensions);
      }
      
      $(document).ready(function() {
        calcHeight();
        $('#header-bar a.close').mouseover(function() {
          $('#header-bar a.close').addClass('activated');
        }).mouseout(function() {
          $('#header-bar a.close').removeClass('activated');
        });
      });
      
      $(window).resize(function() {
        calcHeight();
      }).load(function() {
        calcHeight();
      });
    </script>
    
    <!--[if IE 6]>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#close-button').remove();
      });
    </script>
    <![endif]-->
    <!-- JAVASCRIPT FOR AND GOOGLE ANALYTICS -->
    
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11834194-7']);
  _gaq.push(['_trackPageLoadTime']);
    _gaq.push(['_trackPageview']);
  
  _gaq.push(['b._setAccount', 'UA-11834194-36']);
  _gaq.push(['b._trackPageLoadTime']);
    _gaq.push(['b._trackPageview']);

  
  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script><script src="http://www.google-analytics.com/ga.js" async="true"></script>

    <!-- END JAVASCRIPT -->
    

    <meta content="" name="WT.si_x">
    <meta content="" name="WT.si_n">
    <meta content="" name="WT.si_cs">

  </head>
  <body>
   <div id="header-bar">
     
     <div class="close-header">
       <a id="close-button" title="Close ThemeForest Bar" class="close" href="http://demo.ponjoh.com/Simpla-Admin/login.html">X</a>
     </div>
     
     <p class="meta-data">
       <a class="close" href="http://demo.ponjoh.com/Simpla-Admin/login.html">Remove Frame</a> <a class="purchase" href="http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073">Purchase this Item!</a>
     </p>
     
     <a class="athemeforest-preview-logo site-loopback" href="http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073">themeforest</a><span class="preview">item preview</span>
   
   </div>
   <iframe id="preview-frame" src="./Simpla Admin - Flexible & User Friendly Admin skin Preview - ThemeForest_files/index.htm" name="preview-frame" frameborder="0" noresize="noresize" style="height: 575px; ">
   </iframe>
   <script type="text/javascript" src="./Simpla Admin - Flexible & User Friendly Admin skin Preview - ThemeForest_files/webtrends.js"></script>
   
<script type="text/javascript">
//<![CDATA[
var _tag = new WebTrends('themeforest.net','dcsbkb9azvz5bdcyrezh0wose_5r8l');_tag.dcsGetId();
//]]
</script>

<script type="text/javascript">
//<![CDATA[
_tag.dcsCustom=function(){

}
_tag.dcsCollect();
//]]>
</script>

<noscript>
&lt;div&gt;&lt;img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsbkb9azvz5bdcyrezh0wose_5r8l/njs.gif?dcsuri=/nojavascript&amp;amp;WT.js=No&amp;amp;WT.tv=9.3.0&amp;amp;WT.dcssip=themeforest.net"/&gt;&lt;/div&gt;
</noscript>

  <script type="text/javascript">if (!NREUMQ.f) NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";e.async=true;e.src="https://d1ros97qkrwjf5.cloudfront.net/16/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
if(window.onload!==NREUMQ.f){NREUMQ.a=window.onload;window.onload=NREUMQ.f;};
NREUMQ.push(["nrf2","beacon-1.newrelic.com","fcf8d519de",13909,"dA4NFkNbVV1URBcMRVIMTAREWFVuQlVKAFRZPhMQVEJQVEY=",0,20,new Date().getTime()])</script>

<script type="text/javascript" async="" src="./Simpla Admin - Flexible & User Friendly Admin skin Preview - ThemeForest_files/rum.js"></script><script type="text/x-nreum-data" id="nreum-send-beacon"></script></body></html>