<html>
  <head>
    <meta charset="utf-8" />
    <meta name="Description" content="sunblackshineblog is a blog of sunshine in black mind, black intend free and do what you like">
    <title>
      {{ SITE_CONFIG.title }}: 
      {% if website %}
        BookMark for {{ website.name|escape }} - {{ website.url }}
      {% else %}
        BookMarks
      {% endif %}
    </title>
    <link rel="stylesheet" href="/static/style.css" />
    <style type="text/css">
    {% ifequal BUILD 'development' %}
      @import "/css/goog.css";
    {% else %}
    {% endifequal %}
    </style>
  </head>
  <body>
      <header>
        <div>
          <h1 id="logo"><a href="/" ><span>{{ SITE_CONFIG.title }}</span</a></h1>
        </div>
        <div>
          {%if user %}
          <strong>{{user.nickname}} &lt;{{user.email}}&gt;</strong>
          {%if is_admin%} | <a href="/_ah/admin">Admin</a>{%endif%}
          {%if sign_out%} | <a href="{{sign_out}}">Sign out</a>{%endif%}
          {% else %}
          {%if sign_in%}<a href="{{sign_in}}">Sign in</a>{%endif%}
          {%endif%}
        </div>

            <div class="wrapper">
                <div class="container">
                    <ul class="menu">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/weibo/">Weibo</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Twitter @insic</a></li>
                    <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>

      </header>
      
      <div id="wuz-content">
        {%block body%}{%endblock%}
      </div>
    
      <footer>
	    &copy; Sunshine Industries, 2011 | <a href="/">Home</a> | <a href="/about">About</a> | <a href="{{ SITE_CONFIG.author_blog }}">Websites</a>
      </footer>
    
    {% ifequal BUILD 'development' %}
    <script type="text/javascript" src="/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/js/wuz.js"></script>
    {% else %}
    <script type="text/javascript" src="/js/wuz_compiled.{{ CURRENT_VERSION_ID }}.js"></script>
    {% endifequal %}
    <script type="text/javascript">
    </script>
  </body>
</html>